/* ===== FORM CARD ===== */
.Role-form {
  width: 400px;
  padding: 35px;
  margin-top: 100px;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);

  border-radius: 14px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);

  display: flex;
  flex-direction: column;
  gap: 14px;
  animation: fadeIn 0.5s ease;
}

/* ===== TITLE ===== */
.Role-form h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
  font-weight: 600;
}


/* ===== LABEL ===== */
.Role-form label {
  font-size: 14px;
  color: #555;
  font-weight: 500;
}


/* ===== INPUT ===== */
.Role-form input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;

  transition: all 0.3s ease;
}

/* input focus effect */
.Role-form input:focus {
  border-color: #091133;
  box-shadow: 0 0 0 3px rgba(102,126,234,0.2);
}


/* ===== BUTTON ===== */
.Role-form button {
  margin-top: 10px;
  padding: 12px;
  border: none;
  border-radius: 8px;

  background: rgb(33, 33, 50);
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;

  transition: all 0.3s ease;
}

/* hover animation */
.Role-form button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.2);
}

/* click effect */
.Role-form button:active {
  transform: scale(0.98);
}


/* ===== ANIMATION ===== */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}