/* ===== MAIN WRAPPER ===== */

.home-wrapper {
  display: flex;
  gap: 30px;
  padding: 40px;
  align-items: flex-start;
}

/* ================= LEFT CARD ================= */

.tab-card {
  margin-top: px;
  width: 240px;
  height: 500px;
  background: white;
  border-radius: 15px;
  padding: 25px;
  border: 1px solid black;
  /* box-shadow: 0 8px 25px rgba(0,0,0,0.08); */
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* border-left: 5px solid #2c3e50; */
}

/* Title */
.card-title {
  font-size: 26px;
  margin-top: 50px;
  margin-bottom: 10px;
  color: #2c3e50;
  text-align: center;
}

/* Buttons */
.side-btn {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #f3f5f8;
  font-size: 16px;
  font-weight: 600;
  gap: 10px;
  cursor: pointer;
  text-align: left;
  transition: all 0.3s ease;
  color: #2c3e50;
}

/* Hover */
.side-btn:hover {
  background: #e8edf4;
  transform: translateX(6px);
}

/* Active button */
.side-btn.active {
  background: linear-gradient(135deg,#2c3e50,#34495e);
  color: white;
  box-shadow: 0 6px 14px rgba(0,0,0,0.2);
}

/* ================= RIGHT CONTENT ================= */

.content-card {
  flex: 1;
  background: white;
  border-radius: 15px;
  padding: 30px;
  border: 1px solid black;
  /* box-shadow: 0 8px 25px rgba(0,0,0,0.08); */
  min-height: 450px;
  animation: fadeIn 0.4s ease;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}